@using Microsoft.AspNetCore.Components.Forms
@using Models;
@using Radzen.Blazor
@using ToDoTeldat.Interfaces;

@inject IToDoTask Task;
@inject NotificationService Notification;
@inject DialogService DialogService;

<RadzenCard>
    <h2>Nowe zadanie:</h2>

    <RadzenTemplateForm Data="@toDoTasks" Submit="@((ToDoTask args) => { SaveTask(args); })">
        <div class="col">
            <div class="row p-2">
                <label class="d-block">Nazwa:</label>
                <RadzenTextBox placeholder="Sprzątanie" @bind-Value="toDoTasks.Name" Style="width:90%" />
            </div>
            <div class="row p-2">
                <label class="d-block">Opis:</label>
                <RadzenTextBox placeholder="Odkurzyć, umyć naczynia, wyrzucić śmieci.." @bind-Value="toDoTasks.Description" Style="width:90%" />
            </div>
            <div class="row p-2">
                <label class="d-block">Data zakończenia:</label>
                <RadzenDatePicker Name="Data zakończenia" ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" @bind-Value="toDoTasks.ExecutionDate" Style="width:86%" />
            </div>

            <div class="row p-2">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zapisz" />
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>
@code {
    private ToDoTask toDoTasks { get; set; } = new ToDoTask();

    protected void OnInitialized()
    {
        toDoTasks.ExecutionDate = DateTime.Now;
    }

    public void SaveTask(ToDoTask toDoTasks)
    {
        try
        {
            toDoTasks.CreatedDate = DateTime.Now;
            if ((toDoTasks.ExecutionDate - DateTime.Now).Days > 0)
            {
                toDoTasks.AfterDeadLine = 0;
                Task.AddTask(toDoTasks);
            }
            else
            {
                Notification.Notify(NotificationSeverity.Error, "Błąd daty!", "Data wykonania nie może być mniejsza od obecnej!");
            }
        }
        catch (Exception ex)
        {
            Notification.Notify(NotificationSeverity.Error, "Błąd zapisu!", "Błąd podczas zapisywania danych!");
        }
        DialogService.Dispose();
        DialogService.Close();
    }
}
